@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .profile-card {
        width: 100%;
        position: sticky;
        transform: none;
        max-height: fit-content;
        margin-top: 1rem;
    }
    .switch::after{width: 1.8rem;
        height: 1.8rem;}
    .profile-wrap {margin-top: -3.3rem;}
    .sticky-menu {display: none;}
    .btn {margin-top: 1rem;}
    .round-img{bottom: 0;--size: 8rem;}
    .timeline li{padding-left: 3rem;}
    .skills{gap: 4rem;justify-content: space-between;}
    .skill {width: 42%;border-radius: 3rem;}
    .formInput {width: 100%; gap: 1rem;}
    .formInput input{margin-bottom: 1rem;}
    .contactForm textarea {width: 100%; margin-bottom: 1rem;}
    .menu-icon {right: 2rem;top: 1.5rem;
        z-index: 9999;}
        .prof-top {font-size: 1.3rem;align-items: center;}
        .logo {
            width: 8rem;
        }
}

@media (max-width: 500px) {
    .formInput {flex-direction: column;}

}

